<ion-header>
  <ion-navbar>
    <ion-title>Messages&nbsp;</ion-title>
    <ion-spinner name="bubbles" *ngIf="waitingForRefresh"></ion-spinner>
    <ion-buttons end>
  </ion-buttons>
  </ion-navbar>`
</ion-header>

<ion-content >
	<ion-list *ngFor="let user of userMessagesList; let i = index">
	    <ion-item>

			<ion-avatar item-start >
			<img src="{{user.profile_picture_thumb}}">
			</ion-avatar>

			<span class="user-name" (click)="openChat(user.request_friend_id, user.name, user.profile_picture_thumb)">{{user.name}} 
			<span class="relation">{{user.follow}}</span></span>

			<span item-end text-center>
				<span class="time">{{user.posted_at}}</span> <br>
				<ion-badge  *ngIf="user.new_messages" (click)="openChat(user.request_friend_id, user.name, user.profile_picture_thumb)">{{user.new_messages}}</ion-badge>
			</span>
			

			<!-- <ion-icon name="ios-more-outline" class="right" (click)="presentActionSheet(user.request_friend_id, user.name, user.profile_picture_thumb)" ></ion-icon> -->

		</ion-item>
	</ion-list>
</ion-content>

