
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding class="bg-color">

  
  <ion-grid>
    <ion-row>
      <ion-col col-12>
          <img class="img-circle" src="{{userProfileImage}}" *ngIf="userProfileImage" >
      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-grid>
    <ion-row>

      <ion-col center>
         <button ion-button block (click)="messenger()" class="MainButton">
          <ion-icon name="ios-brush">&nbsp;&nbsp; <span>Messages 
            <ion-spinner name="bubbles" *ngIf="newMessages < 0"></ion-spinner>
            <span *ngIf="newMessages || newMessages == 0"> ( {{newMessages}} )</span>
          </span></ion-icon>
        </button>
      </ion-col>

    </ion-row>
  </ion-grid>


  <ion-grid >
    <ion-row>
      <ion-col col-4 ></ion-col>
      <ion-col col-6 >
          <button   class="button-home" (click)="searchFriend()">
            <ion-icon name="ios-add-circle-outline">&nbsp;&nbsp; <span>Search Users</span></ion-icon>
          </button>

          <button class="button-home"  (click)="friendsList()">
            <ion-icon name="ios-contacts-outline">&nbsp;&nbsp; <span>Following</span></ion-icon>
          </button>

          <button class="button-home" id="applyFilters" (click)="followBack()">
            <ion-icon name="ios-alert-outline">&nbsp;&nbsp;  <span>Follow Back</span></ion-icon>
          </button>
      </ion-col>
    </ion-row>
  </ion-grid>


<canvas id="canvas" width={{canvasWidth}} height={{canvasHight}}></canvas>

</ion-content>
