page-message-image-view
{

    .toolbar-background-md 
    {
	    border-color: rgba(207, 13, 13, 0);
	    background: rgba(50, 219, 100, 0.02);
    }
    .scroll-content
    {
        margin-top: 0px!important;
        overflow: hidden
    }
	.bar-button-md 
	{
	    font-size: 3.5rem;
	}
}